In [7]:
#Write a Python function to sum all the numbers in a list.
list=[int(x) for x in input().split()]       #input list from the user
def sum(list):

   total = 0                                 

   for x in list:

       total += x

   return total

print(list)
print(sum(list))

50 5 25 25
[50, 5, 25, 25]
105

In [8]:
list=[int(x) for x in input().split()]       #input list from the user
def sum(list):

   total = 0                                 

   for x in list:

       total += x

   return total

print(list)
print(sum(list))

8 2 3 0 7
[8, 2, 3, 0, 7]
20